<h2>Add a New Place </h2>
<form action="/places/create">
	<p>Title: <input type="text" name="title"></p>
	<p>Photo URL: <input type="text" name="photo_url"></p>
	<p>Price: <input type="text" name="price"></p>
	<p>Description: <br><textarea name="description" rows="5" cols="100"></textarea></p>
	<p><input type="submit" value="Submit"></p>
</form>